@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #fff;
    --primary: #a30013;
    --primary_btn-shadow: #52000a;
    --text-dark: #02001e;
    --text-light: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    background-color: var(--bg);
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    z-index: 2;
    text-wrap: nowrap;
    font-weight: 500;
    cursor: pointer;

    box-shadow: 0 3px 0 var(--primary_btn-shadow);
    transition: 100ms ease-in-out;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--text-light);
}

.btn:hover {
    transform: translateY(1px);
    box-shadow: 0 2px 0 var(--primary_btn-shadow);
}

