<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prihlásenie - Šrodo</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!-- <a href="#" class="btn btn-primary">Prihlásiť sa</a> -->

    <div class="login-wrapper">
        <form action="">
            <h1>Prihlásenie</h1>
            <div class="input-field">
                <input type="email" placeholder=" ">
                <label for="">Username alebo email</label>
            </div>
            <div class="input-field">
                <input type="password" placeholder=" ">
                <label for="">Heslo</label>
            </div>
            <div class="forgot">
                <a href="#">Zabudli ste heslo?</a>
            </div>
            <a href="#" class="btn btn-primary">Prihlásiť sa</a>
            
            <div class="login-divider">
                <hr>
                <p class="or">OR</p>
            </div>

            <!-- Login with .... -->
            
            <div class="login-with">
                <a href="/auth/google" class="btn btn-secondary">Prihlásiť sa cez Google</a>
                <a href="#" class="btn btn-secondary">Prihlásiť sa cez Facebook</a>
                <a href="#" class="btn btn-secondary">Prihlásiť sa cez GitHub</a>
            </div>
            
            <div class="signup">
                <p>Nemáte účet? <a href="/auth/signup">Zaregistrujte sa</a></p>
            </div>
        </form>
    </div>
</body>
</html>