body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-wrapper {
    max-width: 360px;
    padding: 16px;
}

.login-wrapper h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.forgot {
    margin-top: 0;
    margin-bottom: 16px;
}

.forgot a {
    color: var(--primary);
}

.btn {
    width: 100%;
}

.btn > svg {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 16px;
}

.btn-secondary {
    text-align: left;
    padding-left: 64px;
}

.btn-primary {
    margin-bottom: 24px;
}

.btn-secondary {
    margin-bottom: 8px;
}

.signup {
    text-align: center;
    margin-top: 16px;
}

.signup a {
    color: var(--primary);
}

.login-divider {
    position: relative;
    margin-bottom: 24px;
}

.or {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    padding: 0 6px;
    font-size: 16px;
}

