body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 320px;
}

h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.btn {
    width: 100%;
    margin-bottom: 8px;
}

.signup {
    text-align: center;
}

.signup a {
    text-decoration: none;
    color: var(--primary);
}

.forgot {
    margin-top: 0;
    margin-bottom: 1rem;
}

.forgot a {
    
    text-decoration: none;
    color: var(--primary);
    margin-left: 4px;    
}

.or {
    background-color: var(--bg);
    padding: 0 6px;
    font-size: 0.9rem;
    margin: auto;
    transform: translateY(-75%);
    width: fit-content;
}

