@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --bg: #fafafa;
    --primary: #a30013;
    --text: #0f0f0f;
    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-300: #d4d4d8;
    --gray-400: #a3a3a3;
    --gray-500: #71717a;
}

/* Global styles START */

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    background-color: var(--bg);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

hr {
    margin: 0;
    border: none;
    width: 100%;
    border-top: 1px solid var(--gray-300);
}

/* Global styles END */

/* Button styling START */

.btn {
    outline: none;
    border: none;
    position: relative;
    top: 0;
    display: inline-block;
    padding: 6px 24px;
    border-radius: 6px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--bg);
    transition: top 150ms ease-out;
}

.btn-primary::before, .btn-primary::after {
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    border-radius: 6px;
    transition: bottom 150ms ease-out;
}

.btn-primary::before {
    background-color: inherit;
}

.btn-primary::after {
    background: rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    top: 4px;
}

.btn-primary:hover::before, .btn-primary:hover::after {
    bottom: 0;
}

.btn-secondary {
    background-color: var(--bg);
    border: 1px solid var(--gray-300);
    color: var(--text);
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color 150ms ease-out;
}

.btn-secondary:hover {
    background-color: var(--gray-100);
}

/* Button styling END */