@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    --bg: #fff;
    --primary: #a30013;
}

/* Global styles START */

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    background-color: var(--bg);
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

/* Global styles END */

/* Button styling START */

.btn {
    outline: none;
    border: none;
    position: relative;
    top: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;
    cursor: pointer;
    transition: top 150ms ease-out;
}

.btn::before, .btn::after {
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    border-radius: 6px;
    transition: bottom 150ms ease-out;
}

.btn::before {
    background-color: inherit;
}

.btn::after {
    background: rgba(0, 0, 0, 0.25);
}

.btn:hover {
    top: 4px;
}

.btn:hover::before, .btn:hover::after {
    bottom: 0;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--bg);
}

/* Button styling END */